{{define "footer"}}
<footer class="footer" aria-label="Page footer section">
    <div class="icons-row">
        <img
            src="/icons/pencil.svg"
            alt="Pencil icon"
            class="icons-row__icon"
            aria-hidden="true"
        />
        <img
            src="/icons/happy-face.svg"
            alt="Happy face icon"
            class="icons-row__icon"
            aria-hidden="true"
        />
        <img
            src="/icons/book.svg"
            alt="Book icon"
            class="icons-row__icon"
            aria-hidden="true"
        />
    </div>

    <p class="footer__text">
        Copyright &copy; {{.Year}} | Created by Edwing123
    </p>
</footer>

{{end}}
